.newNumberLevel>h2 {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.filterBtn {
    width: 100%;
    display: inline-flex;
}

.body {
    width: 100%;
    margin-top: 10px;
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
}

.body>div:first-child {
    width: 90%;
}

.body>div:first-child>div:last-child {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.detailBtn {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.status>div {
    /* height: 34px; */
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.red,
.green,
.blue,
.gray {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.red {
    background-color: #EC3740;
}

.green {
    background-color: #35C75A;
}

.blue {
    background-color: #4277FF;
}

.gray {
    background-color: #7E7D88;
}