.searchText {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    padding: 0 12px;
    box-sizing: border-box;
}

.searchText>input {
    height: 70%;
    width: 80%;
    border: none;
    outline: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #A9A9B0;
}
.searchText>div{
    cursor: pointer;
}