.buttonBackIcon {
    width: 90px;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background: #FFF2E7;
}

.buttonBackIcon div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 4px;
    box-sizing: border-box;
    flex-direction: column;
    cursor: pointer;
}

.buttonBackIcon div>p {
    margin: 0;
    width: 72px;
    height: 38px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
}

.updateBtn::after {
    content: '';
    margin-top: 4px;
    width: 80%;
    height: 1px;
    background-color: #FFE3CD;
    border-radius: 4px;
}